APP_NAME=Logistics Management Platform API
APP_ENV=development

API_V1_PREFIX=/api/v1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=logistics_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/logistics_db

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=change_this_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30

CORS_ORIGINS=["http://localhost:5173"]
